
.grad {
  padding: 5px;
  background-image: linear-gradient(to right, #3b6dc3 , #240454);
}

.searchgrid {
  padding: 0 0 10px 0;
}

/* #33465b */

.addpad {
  padding: 5px;
}

.hide {
  display: none;
}